.todoOLoginCliente {
    background-color: #040F1E;
    color: white;
}

.paraCentralizar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.borda {
    border: 2px solid white;
    height: 90vh;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    background-image:
        url('../../assets/img/direita.svg'),
        url('../../assets/img/esquerda.svg');

    background-repeat: no-repeat, no-repeat;
    background-position:
        top 20px right 20px,
        bottom 20px left 20px;

    background-size: 250px, 250px;
}

/* ===== Formulário ===== */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    /* gap: 20px; */
}

/* ===== Título ===== */
.titulo_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    font-size: 30px;
}

.titulo_4 img{
    height: 120px;
}

h1 {
    font-weight: 300;
    letter-spacing: 1px;
}

/* ===== Labels ===== */
label {
    font-size: 16px;
    margin-bottom: 5px;
}

/* ===== Inputs ===== */
.input_login_cliente {
    background-color: white;
    outline: none;
    border: none;
    color: black;
    height: 40px;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 15px;
    transition: all 0.3s ease;
}

.input_login_cliente:focus {
    box-shadow: 0 0 0 2px #1e90ff;
}

/* ===== Botão ===== */
.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/* ===== Espaçamento adicional opcional ===== */
.espacamento {
    height: 30px;
}

/* ===== Links (se houver) ===== */
.link {
    display: flex;
    justify-content: flex-end;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    text-decoration: underline;
}

/* ===== Responsividade (Mobile) ===== */
@media screen and (max-width: 600px) {
    button {
        height: 50px;
    }

    .borda {
        width: 340px;
        background-size: 100px, 100px;
    }

    form {
        width: 270px;
        gap: 15px;
    }

    .titulo_4 {
        margin-bottom: 30px;
        font-size: 24px;
    }

    label {
        font-size: 14px;
    }

    .input_login_cliente {
        height: 38px;
        font-size: 14px;
    }
}
    