.listagens_historico{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 20px;
  margin-bottom: 40px;
}

.voltaBotao{
  margin-top: 40px;
  margin-left: 150px;
}
