


main{
    background-color: white;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

.main_feedbacks{
    height: 65%;
}



.listagem_feedbacks{
    height: 100vh;
    display: flex;
    justify-content: center;

}

.qtd_feedback h2{
   font-size: 20px;
   display: flex;
   justify-content: flex-start;
}





.listagem_cards {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px; /* espaço entre cards */
    width: 100%;
    max-width: 800px;
    height: auto; /* 👈 deixa a altura automática */
    margin-left: auto;
    margin-right: auto;
}


@media (max-width: 768px) {
    .qtd_feedback h2{
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .main_feedbacks{
        height: 90%;
    }



}