

/***************** MAIN ********************/

main{
    background-color: white;
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
}




/*************** LISTAGEM FEEDBACKS ************/

.listagem_feedbacks{
    height: 100vh;
    display: flex;
    justify-content: center;

}

.qtd_feedback h2{
   font-size: 20px;
}

.qtd_feedback hr{
   width: 19%;
   margin-top: 10px;
}




.listagem_cards{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 190vh;

}

