.chat-cliente-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0b1324;
  /* Azul escuro do fundo */
  font-family: "Poppins", sans-serif;
  padding: 40px 0;
}


.chat-principal {
  background: #1f2a44;
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 148.4px);
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  color: #fff;
}

.perfil_icone img{
  width: 50px;
  height: 60px;
}

.chat-topo-info {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0px 100px;
}

.perfil-icone {
  width: 50px;
  height: 50px;
  background: #32426b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
}

.nome-usuario {
  font-weight: 600;
  font-size: 1.15rem;
}


.chat-mensagens-area {
  flex: 1;
  background: #DADDE9 url('../../assets/img/fundo_chat.png') no-repeat center ;
  background-size: contain; 
  padding: 20px 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  gap: 20px;
}
.mensagem {
  background: #3c4b70;
  color: #fff;
  padding: 18px 24px;
  border-radius: 14px;
  max-width: 50%;
  line-height: 1.5;
  font-size: 0.95rem;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}


.chat-area-input {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  display: flex;
  padding: 12px 100px 12px 100px;
  background-color: #313D65;
  height: 100px;
  flex-direction: row;
}

.input-mensagem {
  padding: 10px;
  border: none;
  border-radius: 5px;
  gap: 5px;
  flex: 1;
  background: #fff;
  color: #040F1E;
  font-size: 0.95rem;
  outline: none;
  height: 45px;

}

.input-mensagem::placeholder {
  color: #bdbdbd;
}

.botao-enviar {
  display: flex;
  background: #ffffff;
  border: none;
  color: #000000;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.2s;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.audio_recebido{
  
}

.botao-enviar:hover {
  background: #000000;
  color: #fff;
}

.chat-mensagens-area::-webkit-scrollbar {
  width: 8px;
}

.chat-mensagens-area::-webkit-scrollbar-thumb {
  background: #4a5c89;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .chat-principal {
    width: 100%;
    height: 90vh;
  }

  .chat-mensagens-area {
    padding: 25px;
  }

  .mensagem {
    max-width: 90%;
    font-size: 0.9rem;
  }

  .chat-area-input {
    padding: 10px 15px;
  }
}