button {
    width: 170px;
    height: 45px;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: bold;
    background-color: #ffffff00;
    color: white;
    font-size: 19px;
}

button:hover {
    border: 2px solid #040F1E;
    background-color: white;
    color: #040F1E;
    transition: all 0.4s ease-in-out; 
}